.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;

}

.fighter-preview___left {
  align-items: flex-start;
}
.prev_img  {
  max-height: 380px;
}
.fighter-preview___right .prev_img  {
  transform: scale(-1, 1)
}

.prev_desc {
  background-color: antiquewhite;
  font-size: 20px;
}